# Import SAS and STATA Files
---
1.	SAS: Statistical Analysis System --> mainly for business analytics and biostatistics
2.	Stata: “Statistics” + “data” --> mainly for academic social sciences research
3.	SAS files are Used for:
    - Advanced analytics
    - Multivariate analysis
    - Business intelligence
    - Data management
    - Predictive analytics
    - Standard for computational analysis 
4.	Install SAS7BDAT package
    - Go to start --> all programs --> anaconda --> anaconda prompt
    - Type conda install SAS7BDAT
    - ![sas7bdat](https://github.com/rritec/datahexa/blob/master/images/sas7bdat.png?raw=true)

## Change current working Directory

In [4]:
import os

In [5]:
os.getcwd()

'C:\\Users\\ramreddymyla\\RRITEC_TRAINING_ASSETS\\Data-Analysis'

In [6]:
os.chdir("C:\\Users\\ramreddymyla\\Google Drive\\01 DS ML DL NLP and AI With Python Lab Copy\\02 Lab Data\\Python")

In [7]:
os.getcwd()

'C:\\Users\\ramreddymyla\\Google Drive\\01 DS ML DL NLP and AI With Python Lab Copy\\02 Lab Data\\Python'

## Working with SAS file

Download some sample files [here](http://www.principlesofeconometrics.com/sas.htm)

### Import required modules

In [8]:
import pandas as pd # Import pandas package
import matplotlib.pyplot as plt # Import matplotlib package
#conda install -c anaconda sas7bdat
from sas7bdat import SAS7BDAT  # Import sas7bdat package

### Read SAS file and observe the data

In [9]:
# Save file to a DataFrame: df_sas
with SAS7BDAT('sales.sas7bdat') as file:
    df_sas = file.to_data_frame()
print(df_sas.head()) # Print head of DataFrame

     YEAR     P           S
0  1950.0  12.9  181.899994
1  1951.0  11.9  245.000000
2  1952.0  10.7  250.199997
3  1953.0  11.3  265.899994
4  1954.0  11.2  248.500000

## Working with STATA file
- Download any stata file from [here](http://www.principlesofeconometrics.com/stata.htm)

### Import packages

In [10]:
# Import pandas
import pandas as pd
# Import matplotlib package
import matplotlib.pyplot as plt

### Read file

In [12]:
# Load Stata file into a pandas DataFrame: df
df = pd.read_stata('disarea.dta')
# Print the head of the DataFrame df
display(df.head())

,wbcode,country,disa1,disa2,disa3,disa4,disa5,disa6,disa7,disa8,...,disa16,disa17,disa18,disa19,disa20,disa21,disa22,disa23,disa24,disa25
0,AFG,Afghanistan,0.00,0.00,0.76,0.73,0.0,0.00,0.00,0.0,...,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.02,0.00,0.00
1,AGO,Angola,0.32,0.02,0.56,0.00,0.0,0.00,0.56,0.0,...,0.0,0.4,0.0,0.61,0.00,0.0,0.99,0.98,0.61,0.00
2,ALB,Albania,0.00,0.00,0.02,0.00,0.0,0.00,0.00,0.0,...,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.16
3,ARE,United Arab Emirates,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,...,0.0,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.00
4,ARG,Argentina,0.00,0.24,0.24,0.00,0.0,0.23,0.00,0.0,...,0.0,0.0,0.0,0.00,0.05,0.0,0.00,0.01,0.00,0.11